    /*this class navbar-brank is not working */
    html {
        width: 100%;
        height: 100%;
        display: table;
    }

    body {
        width: 100%;
        display: table-cell;
        background: #ccc;
    }

    html,
    body {
        margin: 0;
        padding: 0;
    }

    .navbar-brand mb-0 h1 {
        color: rosybrown;
    }

    .nav-links {
        padding: 10px;
    }

    .contact,
    .portfolio,
    .about {
        text-decoration: none;
        color: #00ffaa;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3em;
        padding-right: 30px;

    }



    .own-pic {
        width: 150px;
        border-radius: 100%;
        margin-bottom: 30%;




    }

    .about-me {
        padding-left: 15%;

    }

    .container {
        padding-top: 100px;
        padding-right: 100px;
    }

    .my-paragraph {
        width: 100px;
        padding-top: 3%;
    }

    .my-card {
        background: rgba(236, 220, 220, 0.897);
        margin-bottom: 230px;


    }

    /*This is contact Us css code*/
    form {
        width: 50%;
        margin: 30px;
    }

    textarea {
        width: 505;
    }

    /*Potfolio css*/

    .portfolio-page {
        margin: 0;
    }

    .myrow-1 {
        padding-top: 10%;
        padding-right: 13%;
    }

    .myrow-2 {
        padding-top: 10%;
        margin-left: 22%;
    }

    .myrow-3 {
        padding-top: 10%;
        margin-left: 38%;
    }